html {
    background: #f1f1f1;
}

body {
    font-family: 'Inter', sans-serif;
}

.outter-border {
    margin: 80px auto;
    background: rgb(255,140,158);
    background: linear-gradient(325deg, rgba(255,140,158,1) 20%, rgba(255,218,118,1) 50%, rgba(180,214,205,1) 80%);
    padding: 1.312vw;
    max-width: 35.7vw;
    border-radius: 0.84vw;
    box-shadow: 0.315vw 0.315vw 0.64vw rgba(163, 162, 156, 0.4);
}

.weather-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.05vw;
    padding-bottom: 0;
    max-width: 34.121vw;
    border-radius: 0.84vw;
    box-shadow: 0.315vw 0.315vw 0.64vw rgba(163, 162, 156, 0.4);

}

.outter-search-section {
    margin: 1vw auto;
    display: flex;
    flex-direction: column;
}

.search-city-section {
    display: flex;
    justify-content: space-between;
    justify-content: stretch;
}

#search-box {
    padding: 0.9vw;
    border: 0.052vw solid #FF4E88;
    border-radius: 1.575vw;
    font-size: 1.05vw;
    width: 80%;
}

#search-box :focus-visible {
    border-color: #ff76a3;
}

#search-box:focus {
    border-color: #ff76a3;
}

#warning-text {
    display: inline-block;
    margin: 0.42vw;
    color: #FF4E88;
    width: 8.871vw;
    height: 1.05vw;
}

#submit-button {
    padding-inline: 1.05vw;
    border-radius: 1.575vw;
    margin-left: 0.262vw;
    font-size: 1.2vw;
    font-weight: 900;
    border: 0.001vw solid #FF4E88;
    color: white;
    background-color: #FF4E88;
    text-shadow: rgba(136, 136, 136, 0.5) 0.052vw 0.1vw 0.154vw;
}

.primary-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-temp-box {
    display: flex;
    justify-self: end;
    align-items: center;
}

#city-name {
    margin: 0;
    font-size: 2.8vw;
}

#current-temperature {
    margin: 0;
    font-size: 3.675vw;
    sup {
        font-size: 1.312vw;
        font-weight: 700;
    }
}

#weather-icon {
    display: flex;
    width: 5.249vw;
}

#humidity {
    color: #FF4E88;
    font-weight: 600;
}
#wind-speed {
    color: #FF4E88;
    font-weight: 600;
}

.weather-detail {
    color: #8b8b8b;
    font-size: 0.95vw;
    min-height: 3.465vw;
}

.weather-forecast-section {
    display: flex;
    justify-content: space-between;
    margin: 0.787vw 0;
  }
  .weather-forecast-day {

    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .weather-forecast-date {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 0.84vw;
    line-height: 1.05vw;
    margin-bottom: 0.525vw;
  }
  
  .weather-forecast-icon {
    width: 2.3vw;
    align-self: center;
    text-align: center;
  }
  .weather-forecast-temperatures {
    text-align: center;
    color: #f65282;
    margin-top: 0.5vw;
    display: flex;
    justify-content: center;
  }
  
  .weather-forecast-temperature {
    padding: 0 0.525vw;
    font-size: 1vw;
  }

hr {
    border: 0.052vw solid rgba(255,140,158,0.4);
  }
footer {
    color: #8f8f8f;
    font-size: 0.682vw;
    text-align: center;
  }

  a {
    color: #99b8af;
}

a:hover {
    color: #FF4E88;
}